.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: black;
  color: white;
  padding: 100px 0;
}

@media screen and (max-width: 767px) {
  .footer{
    flex-direction: column;
    padding: 50px 0;
  }
}
